/* Shared styles */
.mainContainer{
    height: 100%;
    padding-top: 17rem
}

/* Home Page Styles */
.pageContainer .view {
    min-height: 100vh !important;
    height: unset !important;
}


/* About Page Styles


/* Contact Page Styles */


/* GalleryCode Page Styles */


/* GalleryVFX Page Styles */


